
*.DS_Store
.ipynb_checkpoints/
/class/fall_22/venv/lib/python3.8/site-packages/aiohttp/.hash
/class/fall_22/venv/lib/python3.8/site-packages/__pycache__
/class/fall_22/venv/lib/python3.8/site-packages
/class/fall_22/venv/bin
/class/fall_22/venv
*.pyc
*.MP4
*.zip
*.jpg
.DS_Store
